/* 메뉴탑 */
div.menutopWrap{
    display: none;
}

/* 헤더 */
div.hdrWrap>div.header{
    width: 90%;
    max-width: 1024px;
}
div.hdrWrap>div.header>ul.nav>li{
    display: none;
}
div.hdrWrap>div.header>ul.nav>li:nth-last-child(1){
    display: block;
    float: none;
}
/* 메인 */
div.mainWrap{
    padding-bottom: 0px;
}
div.mainWrap>div.main{
    border-bottom: 1px solid #000;
    padding-bottom: 40px;
}
div.mainWrap>div.main>div.texts{
    width: calc(100% / 8 * 4.5);
}
div.mainWrap>div.main>div.texts>h5{
    font-size: 15px;
}
div.mainWrap>div.main>div.texts>h2{
    font-size: 40px;
}
div.mainWrap>div.main>div.texts>p{
    margin-top: 0px;
    width: 60%;
}
div.mainWrap>div.main>div.search{
    display: none;
}
/* 컨텐츠 */
div.cntWrap>div.content.cnt01{
    width: 100%;
}
div.cntWrap>div.content.cnt01>div.header{
    background-color: #f5f5f5;
    padding: 40px 0px 120px;
}
div.cntWrap>div.content.cnt01>div.section{
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
    margin-top: -80px;
}
div.cntWrap>div.content.cnt01>div.section>div.view{
    width: 100%;
    overflow: hidden;
}
div.cntWrap>div.content.cnt01>div.section>div.view>div.artGroup{
    width: 300%;
}
div.cntWrap>div.content.cnt01>div.section>div.view>div.artGroup>div.article{
    width: calc(100% / 9 - 20px);
    position: relative;
}
div.cntWrap>div.content.cnt01>div.section>div.view>div.artGroup>div.article:nth-child(3)~div.article{
    margin-top: 0px;
}
div.cntWrap>div.content.cnt01>div.section>div.view>div.artGroup>div.article:hover::after{
    opacity: 0;
}
div.cntWrap>div.content.cnt01>div.section>div.view>div.artGroup>div.article::after{
    content: 'more +';
    text-transform: uppercase;
    color: #fff;
    line-height: 25px;
    height: 25px;
    border: 2px solid #fff;
    font-size: 13px;
    position: absolute;
    margin: auto;
    bottom: 15%;
    right: 0;
    left: 0;
    border-radius: 20px;
    width: 30%;
    text-align: center;
    box-shadow: 2px 2px 4px #999;
    font-weight: 700;
    text-shadow: 2px 2px 2px #999;
    overflow: hidden;
}
div.cntWrap>div.content.cnt01>div.section>div.view>div.artGroup>div.article>div.image.i9{
    display: block;
}
div.cntWrap>div.content.cnt01>div.section>div.view>div.artGroup>div.article>div.texts>h3{
    line-height: 25px;
}
div.cntWrap>div.content.cnt01>div.section>div.btns{
    display: block;
}
div.cntWrap>div.content.cnt01>div.section>div.btns>div.btn{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}
/* 배너 */
div.bnrWrap{
    margin-top: 80px;
    background-color: #e5d8c3;
}
div.bnrWrap>div.banner{
    width: 90%;
    max-width: 1024px;
    position: relative;
}
div.bnrWrap>div.banner>h2{
    font-size: 20px;
    line-height: 40px;
}
div.bnrWrap>div.banner>h5{
    float: none;
    margin: 0 auto;
    font-size: 15px;
}
div.bnrWrap>div.banner>div.btn{
    float: none;
    margin: 0 auto;
    margin-top: 20px;
}
/* 컨텐츠2 */
div.cntWrap:nth-last-child(3){
    margin-top: 40px;
}
div.cntWrap>div.content.cnt02{
    width: 90%;
    max-width: 1024px;
}
div.cntWrap>div.content.cnt02>div.header{
    background-color: #fff;
    padding: 0;
}
div.cntWrap>div.content.cnt02>div.header>p{
    font-size: 12px;
    height: 40px;
}
div.cntWrap>div.content.cnt02>div.section{
    margin-top: 40px;
    width: 100%;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup{
    width: 300%;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.top>div.image{
    height: 140px;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.btm>p{
    height: 40px;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

div.cntWrap>div.content.cnt02>div.section>div.btns>div.btn:nth-child(1){
    left: 0;
}
div.cntWrap>div.content.cnt02>div.section>div.btns>div.btn:nth-child(2){
    right: 0;
}
/* 푸터 */
div.ftrWrap{
    padding: 40px 0px;
}
div.ftrWrap>div.footer{
    max-width: 1024px;
    width: 90%;
}
div.ftrWrap>div.footer>div.ftrLeft{
    float: none;
    margin: 0 auto;
    width: 100%;
}
div.ftrWrap>div.footer>div.ftrLeft>div.ftrTop>h1{
    font-size: 40px;
    text-align: center;
}
div.ftrWrap>div.footer>div.ftrLeft>div.ftrBtm{
    display: none;
}
div.ftrWrap>div.footer>div.ftrLeft>div.ftrBtm>div.left{
    display: none;
}
div.ftrWrap>div.footer>div.ftrLeft>div.ftrBtm>div.right{
    display: none;
}
div.ftrWrap>div.footer>div.ftrRight{
    float: none;
    width: 100%;
}
div.ftrWrap>div.footer>div.ftrRight h3{
    text-align: center;
    font-size: 15px;
}
div.ftrWrap>div.footer>div.ftrRight p{
    width: 60%;
    margin: 0 auto;
    font-size: 12px;
}
div.ftrWrap>div.footer>div.ftrInfo{
    float: none;
    width: 100%;
}
div.ftrWrap>div.footer>div.ftrRight>div.bottom{
    display: none;
}
div.ftrWrap>div.footer>div.ftrInfo{
    text-align: center;
    width: 100%;
    margin-top: 40px;
}
div.ftrWrap>div.footer>div.ftrInfo>h3{
    margin-top: 0;
    font-size: 24px;
}
div.ftrWrap>div.footer>div.ftrInfo>div.sns{
    font-size: 30px;
}
/* 네비박스 */
div.navBox{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 0vw;
    height: 100vh;
    background-color: #e5ddd0;
    overflow: hidden;
    transition: all 0.8s;
    opacity: 0;
    z-index: 5;
}
div.navBox>div.top{
    height: 80px;
    font-size: 40px;
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
}
div.navBox>div.top>div.img{
    float: left;
    background-image: url('../image/main_img/logo-tonystreet-main-x9.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: calc(100% / 8 * 3);
    height: 60px;
    margin-top: 10px;
    overflow: hidden;
}
div.navBox>div.top>div.img>a{
    opacity: 0;
}
div.navBox>div.top>div.btn{
    float: right;
    line-height: 80px;
}
div.navBox>div.bottom{
    margin-top: 120px;
}
div.navBox>div.bottom>ul.nav{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    line-height: 100px;
}