@font-face {
    font-family: 'HANBatang';
    src: url(./fonts/HANBatang.ttf) format('truetype');
}

body{
    font-family: 'HANBatang';
}

/* 메뉴탑 */
div.menutopWrap{
    background-color: #aaaaaa;
    color: #fff;
}
div.menutopWrap>div.menuTop::after{
    content: '';
    display: block;
    clear: both;
}
div.menutopWrap>div.menuTop{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    line-height: 40px;
}
div.menutopWrap>div.menuTop>ul.logos{
    float: left;
}
div.menutopWrap>div.menuTop>ul.logos::after{
    content: '';
    display: block;
    clear: both;
}
div.menutopWrap>div.menuTop>ul.logos>li{
    float: left;
    cursor: pointer;
}
div.menutopWrap>div.menuTop>ul.nav{
    float: right;
    font-family: 'HANBatang';
}
div.menutopWrap>div.menuTop>ul.nav::after{
    content: '';
    display: block;
    clear: both;
}
div.menutopWrap>div.menuTop>ul.nav>li{
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 700px;
    float: left;
    margin-left: 20px;
    cursor: pointer;
}

/* 헤더 */
div.hdrWrap>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    line-height: 80px;
}
div.hdrWrap>div.header::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>h1{
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
    float: left;
    cursor: pointer;
    font-family: 'HANBatang';
}
div.hdrWrap>div.header>ul.nav{
    float: right;
    font-family: 'HANBatang';
}
div.hdrWrap>div.header>ul.nav>li{
    font-size: 24px;
    text-transform: uppercase;
    float: left;
    margin-left: 20px;
    cursor: pointer;
    font-weight: 700;
}
/* 메인 */
div.mainWrap{
    padding: 120px 0px 40px;
    margin-top: -80px;
}
div.mainWrap>div.main{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    font-family: 'HANBatang';
}
div.mainWrap>div.main>div.texts{
    width: calc(100% / 12 * 4.5);
    margin: 0 auto;
}
div.mainWrap>div.main>div.texts>h2{
    font-size: 50px;
    line-height: 80px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}
div.mainWrap>div.main>div.texts>h5{
    font-size: 17px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
}
div.mainWrap>div.main>div.texts>p{
    text-align: center;
    width: calc(100% / 4.5 * 4);
    margin: 0 auto;
    font-size: 12px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    font-weight: 700;
    margin-top: 20px;
}
div.mainWrap>div.main>div.search{
    height: 35px;
    outline: 3px solid #df9da4;
    width: calc(100% / 12 * 3);
    margin-left: auto;
    border-radius: 20px;
}
div.mainWrap>div.main>div.search>input{
    height: 35px;
    width: 80%;
    border: 0;
}
div.mainWrap>div.main>div.search>i{
    font-size: 20px;
    font-weight: 700;
    color: #df9da4;
    line-height: 35px;
    cursor: pointer;
}
/* 컨텐츠공통 */
div.cntWrap>div.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.cntWrap>div.content>div.header{
    font-weight: 700;
    text-align: center;
}
div.cntWrap>div.content>div.header>h2{
    font-size: 30px;
    line-height: 80px;
}
div.cntWrap>div.content>div.section{
    margin-top: 40px;
}
/* 컨텐츠1 */
div.cntWrap>div.content.cnt01>div.header>h2{
    text-transform: uppercase;
}
div.cntWrap>div.content.cnt01>div.header>h2>span{
    color: red;
}
div.cntWrap>div.content.cnt01>div.header>h5{
    font-size: 15px;
    line-height: 40px;
}
div.cntWrap>div.content.cnt01>div.section{
    position: relative;
}
div.cntWrap>div.content.cnt01>div.section>div.view>div.artGroup::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.view>div.artGroup>div.article{
    width: calc(100% / 12 * 3 - 20px);
    margin: 0px 10px;
    float: left;
    cursor: pointer;
    position: relative;
}
div.cntWrap>div.content.cnt01>div.section>div.view>div.artGroup>div.article:nth-child(4)~div.article{
    margin-top: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.view>div.artGroup>div.article>div.image{
    height: 240px;
    color: transparent;
}
div.cntWrap>div.content.cnt01>div.section>div.view>div.artGroup>div.article>div.image.i1{
    background-image: url('../image/sub03_img/cnt01_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt01>div.section>div.view>div.artGroup>div.article>div.image.i2{
    background-image: url('../image/sub03_img/cnt01_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt01>div.section>div.view>div.artGroup>div.article>div.image.i3{
    background-image: url('../image/sub03_img/cnt01_3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt01>div.section>div.view>div.artGroup>div.article>div.image.i4{
    background-image: url('../image/sub03_img/cnt01_4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt01>div.section>div.view>div.artGroup>div.article>div.image.i5{
    background-image: url('../image/sub03_img/cnt01_5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt01>div.section>div.view>div.artGroup>div.article>div.image.i6{
    background-image: url('../image/sub03_img/cnt01_6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt01>div.section>div.view>div.artGroup>div.article>div.image.i7{
    background-image: url('../image/sub03_img/cnt01_7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt01>div.section>div.view>div.artGroup>div.article>div.image.i8{
    background-image: url('../image/sub03_img/cnt01_8.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt01>div.section>div.view>div.artGroup>div.article>div.image.i9{
    background-image: url('../image/sub03_img/cnt01_5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
}
div.cntWrap>div.content.cnt01>div.section>div.view>div.artGroup>div.article:hover>div.texts{
    opacity: 1;
}
div.cntWrap>div.content.cnt01>div.section>div.view>div.artGroup>div.article>div.texts{
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    top: 0;
    padding: 40px 20px;
    opacity: 0;
}
div.cntWrap>div.content.cnt01>div.section>div.view>div.artGroup>div.article>div.texts>h3{
    font-size: 17px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
}
div.cntWrap>div.content.cnt01>div.section>div.view>div.artGroup>div.article>div.texts>p{
    font-size: 12px;
    line-height: 20px;
    height: 80px;
    overflow: hidden;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.view>div.artGroup>div.article>div.texts{
    text-align: center;
}
div.cntWrap>div.content.cnt01>div.section>div.btns{
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
    
}
div.cntWrap>div.content.cnt01>div.section>div.btns>div.btn{
    cursor: pointer;
}
div.cntWrap>div.content.cnt01>div.section>div.btns>div.btn:nth-child(1){
    float: left;
}
div.cntWrap>div.content.cnt01>div.section>div.btns>div.btn:nth-child(2){
    float: right;
}
/* 배너 */
div.bnrWrap{
    margin-top: 80px;
}
div.bnrWrap>div.banner{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    background-color: #e5d8c3;
    font-weight: 700;
    padding: 40px 0px;
    text-align: center;
}
div.bnrWrap>div.banner>h2{
    font-size: 24px;
    line-height: 80px;
}
div.bnrWrap>div.banner::after{
    content: '';
    display: block;
    clear: both;
}
div.bnrWrap>div.banner>h5::after{
    content: '';
    display: block;
    width: 48%;
    margin: 0 auto;
    background-color: #000;
    height: 1px;
    margin-top: -5px;
}
div.bnrWrap>div.banner>h5{
    font-size: 18px;
    line-height: 40px;
    width: calc(100% / 12 * 8);
    float: left;
}
div.bnrWrap>div.banner>div.btn{
    float: left;
    width: calc(100% / 12 * 2);
    font-size: 12px;
    line-height: 35px;
    height: 35px;
    background-color: #666;
    color: #e5d8c3;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}
/* 컨텐츠2 */
div.cntWrap:nth-last-child(2){
    margin-top: 80px;
}
div.cntWrap>div.content.cnt02{
    width: 100vw;
    max-width: 100vw;
}
div.cntWrap>div.content.cnt02>div.header{
    background-color: #f5f5f5;
    padding: 40px 0px 120px;
}
div.cntWrap>div.content.cnt02>div.header>p{
    width: calc(100% / 12 * 4.5);
    margin: 0 auto;
    height: 40px;
    overflow: hidden;
    max-width: 430px;
    font-size: 15px;
    line-height: 20px;
}
div.cntWrap>div.content.cnt02>div.section::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt02>div.section{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: -80px;
    position: relative;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article::before{
    content: '';
    display: block;
    width: 100%;
    height: 40px;
    background-color: #de2525;
}
div.cntWrap>div.content.cnt02>div.section>div.artView{
    overflow: hidden;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup{
    width: 200%;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article{
    width: calc(100% / 6  - 20px);
    float: left;
    margin: 0px 10px;
    border: 1px solid #999;
    background-color: #fff;
    cursor: pointer;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.top::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.top>div.image{
    height: 120px;
    text-indent: -9999px;
    width: 50%;
    float: left;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.top>div.image.i1{
    background-image: url('../image/sub03_img/cnt02_7.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.top>div.image.i2{
    background-image: url('../image/sub03_img/cnt02_8.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.top>div.image.i3{
    background-image: url('../image/sub03_img/cnt02_1.JPG');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.top>div.image.i4{
    background-image: url('../image/sub03_img/cnt02_2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.top>div.image.i5{
    background-image: url('../image/sub03_img/cnt02_3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.top>div.image.i6{
    background-image: url('../image/sub03_img/cnt02_4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.top>div.pr{
    width: 50%;
    float: left;
    font-weight: 700;
    padding: 20px 20px;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.top>div.pr>h3{
    font-size: 20px;
    line-height: 40px;
    height: 40px;
    overflow: hidden;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.top>div.pr{
    font-size: 15px;
    line-height: 40px;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.btm{
    margin-top: 40px;
    font-weight: 700;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.btm>p{
    font-size: 12px;
    line-height: 20px;
    height: 80px;
    overflow: hidden;
    padding: 0px 10px;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.btm>p>span{
    font-weight: 700;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.btm>select{
    font-size: 15px;
    line-height: 40px;
    height: 40px;
    width: calc(100% / 4);
    border: 0;
    text-transform: capitalize;
    margin-left: 10px;
    cursor: pointer;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.btm>h4{
    text-align: right;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 40px;
    margin-right: 10px;
}
div.cntWrap>div.content.cnt02>div.section>div.btns{
    width: 100%;
    height: 80px;
    position: relative;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
div.cntWrap>div.content.cnt02>div.section>div.btns>div.btn:nth-child(1){
    left: -100px;
    position: absolute;
    cursor: pointer;
}
div.cntWrap>div.content.cnt02>div.section>div.btns>div.btn:nth-child(2){
    right: -100px;
    position: absolute;
    cursor: pointer;
}

/* 푸터 */
div.ftrWrap{
    background-color: #eeeeee;
    padding: 80px 0px 40px;
    margin-top: 80px;
}
div.ftrWrap>div.footer{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    font-family: 'HANBatang';            
    font-weight: 700;
}
div.ftrWrap>div.footer::after{
    content: '';
    display: block;
    clear: both;
}
div.ftrWrap>div.footer>div.ftrLeft{
    width: calc(100% / 12 * 6);
    float: left;
}
div.ftrWrap>div.footer>div.ftrLeft>div.ftrTop>h1{
    font-size: 55px;
    font-weight: 700px;
    line-height: 80px;
    text-transform: uppercase;
    cursor: pointer;
}
div.ftrWrap>div.footer>div.ftrLeft>div.ftrBtm{
    margin-top: 40px;
}
div.ftrWrap>div.footer>div.ftrLeft>div.ftrBtm::after{
    content: '';
    display: block;
    clear: both;
}
div.ftrWrap>div.footer>div.ftrLeft>div.ftrBtm>div.left{
    width: calc(100% / 6 * 3 - 20px);
    margin: 0px 10px;
    float: left;
}
div.ftrWrap>div.footer>div.ftrLeft>div.ftrBtm h3{
    font-size: 20px;
    line-height: 40px;
    font-weight: 700;
    cursor: pointer;
}
div.ftrWrap>div.footer>div.ftrLeft>div.ftrBtm ul.nav>li{
    font-size: 11px;
    line-height: 20px;
    cursor: pointer;
}
div.ftrWrap>div.footer>div.ftrLeft>div.ftrBtm>div.right{
    width: calc(100% / 6 * 3);
    float: left;
}
div.ftrWrap>div.footer>div.ftrLeft>div.ftrBtm>div.right>h3{
    font-size: 20px;
    line-height: 40px;
    font-weight: 700;
}
div.ftrWrap>div.footer>div.ftrRight{
    width: calc(100% / 12 * 4 - 20px);
    margin: 0px 10px;
    float: left;
}
div.ftrWrap>div.footer>div.ftrRight h3{
    font-size: 20px;
    line-height: 40px;
    font-weight: 700;
    cursor: pointer;
}
div.ftrWrap>div.footer>div.ftrRight p{
    font-size: 11px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
}
div.ftrWrap>div.footer>div.ftrRight>div.bottom{
    margin-top: 40px;
}
div.ftrWrap>div.footer>div.ftrRight>div.bottom>h4{
    font-size: 12px;
    line-height: 20px;
    margin-top: 20px;
    cursor: pointer;
}
div.ftrWrap>div.footer>div.ftrInfo{
    width: calc(100% / 12 * 2 - 20px);
    margin: 0 auto;
    float: right;
}
div.ftrWrap>div.footer>div.ftrInfo>h3{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    margin-top: 120px;
}
div.ftrWrap>div.footer>div.ftrInfo>div.sns>i{
    font-size: 25px;
    cursor: pointer;
}
/* 네비박스 */
div.navBox{
    display: none;
}